.product-card {
  background-color: #f7f5f7;
  border-radius: 20px;
  padding: 20px;
}
.product-card .product-image {
  display: flex;
  justify-content: center;
}
.product-card .product-image img {
  width: 100%;
}
.product-card .product-title {
  padding-top: 20px;
}
.product-card .product-title h3 {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}
