.home-banner.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.home-banner .row {
  margin: inherit;
  flex-direction: column-reverse;
  height: calc(100vh - 80px);
}
.home-banner .row [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.banner-slider {
  height: 50%;
}
.banner-slider .slide,
.banner-slider .slide .carousel-inner,
.banner-slider .slide .carousel-inner .carousel-item {
  height: 100%;
}
.banner-slider .slide .carousel-inner .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home-banner .banner-content {
  padding: 24px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
}
.home-banner .banner-content h1 {
  font-size: 26px;
  color: #070707;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 32px;
  margin-bottom: 14px;
}
.home-banner .banner-content p {
  text-align: left;
  font-size: 12px;
  line-height: 17px;
  color: #5c5c5c;
}
@media (width >= 768px) {
  .home-banner .row {
    margin: inherit;
    flex-direction: row;
    height: calc(100vh - 80px);
  }
  .banner-slider {
    height: 100%;
  }
  .home-banner .banner-content {
    height: 100%;
  }
  .home-banner .banner-content h1 {
    font-size: 55px;
    line-height: 72px;
    margin-bottom: 30px;
  }
  .home-banner .banner-content p {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (width >=992px) {
  .home-banner .banner-content {
    padding: 24px 24px 24px 50px !important;
  }
}
@media (width >=1200px) {
  .home-banner .banner-content {
    padding: 24px 24px 24px 100px !important;
  }
}
