.cta-bar {
  background-color: #222937;
  background-image: url("../../../public/dotted-square-cta.svg"),
    url("../../../public/dotted-square-cta.svg");
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  border-radius: 20px;
  padding: 1rem 3%;
}
.cta-bar p {
  font-size: 1rem;
  line-height: normal;
}
@media (width >= 768px) {
  .cta-bar p {
    font-size: 1.125rem;
  }
}
@media (width >=1992px) {
  .cta-bar p {
    font-size: 1.375rem;
  }
}
@media (width >=1200px) {
  .cta-bar p {
    font-size: 1.875rem;
  }
}
