footer {
  background-color: var(--primary-light-blue);
  padding-top: 40px;
}
footer h3.footer-title {
  font-size: 16px;
  margin-bottom: 12px;
}
footer p {
  font-size: 12px;
  line-height: 16px;
}
footer .footer-logo img {
  width: 100%;
}
footer .footer-cols {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .footer-cols ul {
  margin: 0;
  padding: 0;
}
footer .footer-cols ul li {
  margin-top: 8px;
  margin-bottom: 8px;
  svg {
    height: 18px;
    width: 18px;
    margin: 5px;
    path {
      fill: var(--black);
    }
  }
  .fa {
    height: 18px;
    width: 18px;
    margin: 5px;
    font-size: 18px;
  }
}
footer .footer-cols ul li a {
  color: var(--black);
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  transition: all 0.2s linear;
}
footer .footer-cols ul li a:hover {
  color: var(--dark-blue);
}
.copyright-row {
  border-top: 1px solid var(--dark-blue);
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright-row p {
  font-size: 12px;
  text-align: center;
}

@media (width >= 768px) {
  footer h3.footer-title {
    font-size: 16px;
    margin-bottom: 18px;
  }
}
@media (width >= 1200px) {
  footer h3.footer-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  footer p {
    font-size: 14px;
    line-height: 20px;
  }
  footer .footer-cols ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  footer .footer-cols ul li a {
    font-size: 14px;
    line-height: 18px;
  }
}
